


        <!--/.Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-info">
                            <div class="panel-heading">
                            更新文章
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label>文章标题</label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>文章类型</label>
                                        <select class="form-control">
                                            <option>公司新闻</option>
                                            <option>行业新闻</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>文章内容</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-lg-4">Image Upload</label>
                                        <div class="">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-file btn-success"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file"></span>
                                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info">提交 </button>

                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Row-->
