                
                <form class="form-group col-md-2" id="form" method="POST" action="/article_list">
                    <label>选择文章类型</label>
                    <select class="form-control" id="select" name="TypeID">
                        {{range .aType}}
                        <option value="{{.ID}}">{{.TypeName}}</option>
                        {{end}}
                    </select>
                </form>
                <!--/.Row-->
                <div class="row">

                    <div class="col-md-12">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>文章标题</th>
                                        <th>点击数</th>
                                        <th>发布时间</th>
                                        <th>类型</th>
                                        <th>配图</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .articles}}
                                    <tr>
                                        <td>{{.ID}}</td>
                                        <td> <a href="/article_detail?id={{.ID}}">{{.Artiname}}</a> </td>
                                        <td>{{.Acount}}</td>
                                        <td>{{.Atime.Format "2006-01-02 15:04:05"}}</td>
                                        <td>{{.ArticleType.TypeName}}</td>
                                        <td> <img src="{{.Aimg}}" alt="" width="60" height="60" > </td>
                                        <td>
                                            <a class="btn btn-primary" href="/article_edit?id={{.ID}}"><i class="glyphicon glyphicon-search"></i>Edit</a>
                                            <a class="btn btn-danger delConfirm" href="/article_del?id={{.ID}}"><i class="glyphicon glyphicon-home"></i>Delete</a></td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>

                        <ul class="pager">
                            <li><a href="/article_list?page=1">首页</a></li>
                            {{if compare .pageIndex 1}}
                            <li>上一页</li>
                            {{else}}
                            <li><a href="/article_list?page={{.preIndex}}">上一页</a></li>
                            {{end}}
                            
                            {{if compare .pageIndex .pageNum}}
                            <li>下一页</li>
                            {{else}}
                            <li><a href="/article_list?page={{.nextIndex}}">下一页</a></li>
                            {{end}}

                            <li><a href="/article_list?page={{.pageNum}}">末页</a></li>
                            <span>总共{{.count}}条，共{{.pageNum}}页，当前第{{.pageIndex}}页</span>
                        </ul>


                    </div>
                </div>
                <!--/.Row-->
                <script>
                window.onload = function(){
                    $(".delConfirm").click(function(){
                        if(!confirm("是否确认删除？")){
                            return false
                        }
                    })
                    $("#select").change(function(){
                        $("#form").submit()
                    })
                }
                </script>