<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
    <link href="static/css/bootstrap-fileupload.min.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="static/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="static/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    
</head>
<body>
    <div id="wrapper">
        {{.Sidebar}}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">{{.page_head}}</h1>
                        {{if .addurl }}
                        <h1 class="page-subhead-line"> <a class="btn btn-info" href="{{.addurl}}">新增</a> </h1>
                        {{end}}
                    </div>
                    </div>
                {{.LayoutContent}}

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="footer-sec">
        Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/js/bootstrap.js"></script>
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="static/js/bootstrap-fileupload.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="static/js/custom.js"></script>
    


</body>
</html>
